.calculate__form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.calculate__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.calculate__data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.calculate__label {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.calculate__label--payment {
  margin-bottom: 30px;
}

.calculate__salary-input {
  align-self: stretch;
  padding: 10px;
  margin-bottom: 10px;

  font-family: 'Lab Grotesque', Arial, Helvetica, sans-serif;

  border: 1px solid var(--placeholder-border-color);
  border-radius: 3px;
}

.calculate__salary-input::placeholder {
  color: var(--placeholder-color);
}

.calculate__salary-input:hover,
.calculate__salary-input:focus {
  border-color: var(--placeholder-border-hover-color);
}

.calculate__salary-input:disabled {
  color: var(--calculate-description-color);
  border-color: var(--calculate-description-color);
}


.calculate__salary-input--error {
  margin-bottom: 4px;
  border-color: var(--placeholder-border-error-color);
}

.calculate__required {
  display: none;
  margin-bottom: 8px;

  font-size: 10px;
  line-height: 12px;
  color: var(--required-color)
}

.calculate__salary-input--error + .calculate__required {
  display: block;
}

.calculate__info {
  padding: 0;
  margin: 0;
  font-family: 'Lab Grotesque', Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.7;

  color: var(--info-color);

  background-color: transparent;
  border: none;
}

.calculate__info:hover,
.calculate__info:focus {
    color: var(--info-hover-color);
  }

.calculate__info:active {
    color: var(--info-color);
}

.tag {
  padding: 10px 12px;
  margin-right: 8px;

  color: var(--radio-text-color);
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  background-color: var(--radio-bgc);
  border-radius: 50px;
}

.tag:hover {
  background-color: var(--radio-hover-bgc);
}

.calulate__type-input:focus + .calculate__type {
  outline: 2px solid black;
}

#payment:checked ~ .tag--payment,
#term:checked ~ .tag--term {
  color: var(--radio-checked-text-color);
  background: var(--radio-checked-bcg-gradient), var(--radio-checked-bcg);
}

.calculate__submit {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .calculate__fieldset--set {
    align-self: start;
  }

  .calculate__data--payment {
    flex-direction: row;
    min-width: 334px;
    justify-content: space-between;
  }

  .calculate__label--payment {
    margin-bottom: 0;
  }
}

