.calculate__item {
  position: relative;
  padding: 16px 0;
  border-bottom: 1px solid var(--salary-board);
}

.calculate__payment {
  padding: 10px;
  padding-left: 32px;
}

.calculate__exp {
  color: var(--calculate-description-color)
}

.calculate__payment::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  display: block;
  width: 20px;
  height: 20px;

  background: white;
  border: 1px solid var(--salary-board);
  border-radius: 6px;
}

.calculate__checkbox:checked ~ .calculate__payment::before {
  background: var(--checkbox-checked-bcg-gradient), var(--checkbox-checked-bcg);
}

.calculate__checkbox:checked ~ .calculate__payment::after {
  content: "";
  position: absolute;
  top: 22px;
  left: 3px;
  display: block;
  width: 14px;
  height: 11px;
  background-position: 50% 50%;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.455 8.701L1.114 5.254 0 6.403 4.455 11 14 1.15 12.886 0 4.455 8.701z' fill='%23fff'/%3E%3C/svg%3E");
}



