.calculate {
  position: absolute;
  top: 0;
  left: 0;
}

.calculate__inner {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 16px;
  padding-top: 32px;

  background-color: var(--modal-bcg);
}

.calculate__title {
  margin: 0;
  margin-bottom: 16px;

  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
}

.calculate__close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;

  font-size: 0;
  line-height: 0;

  background-color: transparent;
  border: none;

  transition-duration: 0.3s;
  transition-property: transform;
}

.calculate__close-button::after,
.calculate__close-button::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 4px;

  display: block;
  width: 16px;
  height: 2px;

  background-color: var(--btn-close-color);
  border-radius: 2px;
}

.calculate__close-button::after {
  transform: rotate(45deg);
}

.calculate__close-button::before {
  transform: rotate(-45deg);
}

.calculate__close-button:hover {
  transform: rotate(90deg);
}

.calculate__description {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;

  color: var(--calculate-description-color);
}

@media (min-width: 768px) {
  .calculate {
    top: 120px;
    left: auto;
    margin: 0 auto;
    height: auto;

    font-size: 14px;
    line-height: 24px;
  }

  .calculate__inner {
    width: 453px;
    height: auto;
    min-height: 476px;


    border-radius: 30px;
  }

  .calculate__title {
    font-style: 28px;
    line-height: 40px;
  }

  .calculate__close-button {
    width: 40px;
    height: 40px;
    right: 12px;
  }

  .calculate__close-button::after,
  .calculate__close-button::before {
    left: 8px;
    top: 18px;
    width: 25px;
    height: 4px;
  }
}


