body {
  position: relative;

  margin: 0;
  min-height: 100vh; 

  font-family: 'Lab Grotesque', Arial, Helvetica, sans-serif;
  font-weight: 500;

  background-color: var(--bcg-color);
  background-image: var(--bcg-gradient);
}